<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Firebasetest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D66FD6BE1D7F58300010DD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D66FD6D51D7F58300010DD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D66FD6E01D7F58300010DD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
